.react-lazylog-searchbar {
  background-color: transparent;
}

.react-lazylog {
  background-color: transparent;
}

.react-lazylog-searchbar-input {
  outline: none;
}

.log-number {
  width: 0;
  margin: 0;
}
