.react-lazylog-searchbar {
  background-color: transparent;
  font-family: "Roboto Mono";
}

.react-lazylog {
  background-color: transparent;
  font-family: "Roboto Mono";
}

.react-lazylog-searchbar-input {
  outline: none;
  background-color: transparent;
  font-family: "Roboto Mono";
}

.log-number {
  width: 0;
  margin: 0;
}

.react-lazylog-searchbar .inactive {
  padding: 5px;
}

.react-lazylog-searchbar .active {
  padding: 5px;
}
